*{
    font-family: Arial, Helvetica, sans-serif ;
    
}

body{
    background-image: url("./background/ocean.jpg");
    font-size: 20px;

}
#navUser{
    color: #8fa5bf;
    background-image: url("./background/ocean.jpg");
    height: 80px ;
    font-size:20px;
    font-weight: bold;
    color: white;
    margin: 20px;
}

#navUser2{
    color: white;
}

#navbarNavDropdown{
    margin:10px;
}

#logoId{
    font-size: 25px;
}
#buttonLogout, #buttonAccount, #buttonEditQ, #buttonEditTable{
    background-color: #8fa5bf;
    font-weight: bold;
    border: white;
    margin: 10px;
}

#editQBtn, #editQbtn2, #PostABtn, #delQBtn, #delBtn1, #editUser , #Update{
    background-color: #8fa5bf;
    font-weight: bold;
    border: white;
}

#Unblock, #block {
    margin-top: 4px;
    background-color: #8fa5bf;
    border: white;
}


#editQuestionModal, #askQuestionModal{
    background-color: #8fa5bf;
    color: black;
    font-weight: bold;
}
.modal-dialog{
    pointer-events: auto;
}
#labelSignIn{
    font-size: 15px;
    margin: 13px;
}

#ThumbsDown:hover {
    color: red;
    cursor:pointer;
}

#ThumbsUp:hover {
    color: green;
    cursor:pointer;
}

#ThumbsUp, #ThumbsDown {
    color: #8fa5bf;
}