*{
    font-family: Arial, Helvetica, sans-serif ;
}

body{
    background-image: url("./background/ocean.jpg");
    font-size: 20px;
}
#navUser{
    color: #8fa5bf;
    background-image: url("./background/ocean.jpg");
    height: 80px ;
    font-size:20px;
    font-weight: bold;
    color: white;
    margin: 20px;
}
#navbarNavDropdown{
    margin:10px;
}
#navUser2{
    color: white;
}

#logoId{
    font-size: 25px;
}
#buttonLogout, #buttonEditQ, #buttonEditTable , #buttonAccount{
    background-color: #8fa5bf;
    font-weight: bold;
    border: white;
    margin: 10px;
}
#editQbtn, #editQbtn2, #postAbtn, #delBtn, #addAbtn, #editQbtn1, #postAbtn1, #delBtn1{
    background-color: #8fa5bf;
    font-weight: bold;
    border: white;
}
.modal-footer {
    display: flex;
    
}
#editQuestionModal, #askQuestionModal{
    background-color: #8fa5bf;
    color: black;
    font-weight: bold;
}

#labelSignIn{
    font-size: 15px;
    margin: 5px;
}

#ThumbsDown:hover {
    color: red;
}

#ThumbsUp:hover {
    color: green;
}