*{
    font-family: Arial, Helvetica, sans-serif ;
}

body{
    background-image: url("./background/ocean.jpg");
    color: white;
    font-size: 20px;
}
#navUser{
    color: #8fa5bf;
    background-color: black;
}